body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

a {
    text-decoration: none;
    color: #434455;
}

.link:hover, .link:focus {
    color: #404bbf;
}

ul, ol {
    list-style-type: none;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.accent {
    color: #4d5ae5;
}

.nav li a {
    font-weight: 500;
    color: #2e2f42;
}

.nav li a:hover, .nav li a:focus {
    color: #404bbf;
}

.nav .main-link:active {
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404bbf;
}

.main-page h1 {
font-weight: 700;
font-size: 56px;
line-height: 1.07143;
text-align: center;
color: #fff;
}

.wrapper {
    background-color: #2e2f42;
    width: 1440px;
}

.wrapper .main-page-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.wrapper .main-page-button:hover {
    background-color: #404bbf;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    color: #2e2f42;
}

.team-wrapper {
    background: #f4f4fd;
    width: 1440px;
}

.team-wrapper li {
    background: #fff;
}

.ending {
    background-color: #2e2f42;
    width: 1440px;
    color: #f4f4fd;
}

.ending a {
    color: #f4f4fd;
}